<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form method="post">
    Email:<br>
    <input type="text" name="email"><br>
    Subject:<br>
    <input type="text" name="subject"><br>
    Message:<br>
    <input type="text" name="message">
    <button type=submit"> Send </button>
</form>



